body, h1 {
    margin: 0;
    padding: 0;
}

.latest {
    text-align: center;
    width: 600px;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 16px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    scroll-snap-type: x mandatory; /* オプション：スナップスクロール */
}

.latest-item {
    width: 200px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;

    margin-left: 0px; /* ← これだけ追加！ */
}


.latest-icon, .latest-title, .latest-button {
    text-align: center;
}

.latest-icon {
    padding-top: 20px;
    margin-bottom: 30px;
}

.latest-icon img {
    width: 150px;
}



.latest-button a {
    margin-top: 20px;
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #FFA81D;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.latest-button a:hover {
    background-color: #e29400;
}

.up {
    height: 100px;
}

.up h1 {
    line-height: 100px;
}

.main-section {
    max-width: 600px;
    margin: 0 auto;
    background: linear-gradient(
        to bottom,
        #FFD81D 0px,
        #FFD81D 320px,
        #EEEEEE 320px,
        #EEEEEE 100%
    );
}

