/* pタグの初期化 */
p {
    padding: 0;
    margin: 0;
}

body, h1 {
    padding: 0;
    margin: 0;
}

.main-section {
    max-width: 600px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center; /* 横方向中央 */
    align-items: center;     /* 縦方向中央 */
    background-color: #FFD81D;
    height: 100px;
}


header h1 {
    line-height: 100px;
}

/* 各メッセージ行全体の枠 */
.message-section {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    height: 100px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 10px;
}

/* ユーザーアイコン部分（中央寄せ） */
.user-profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
}

/* 丸いアイコン画像 */
.user-profile-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

/* アイコン以外の全体 */
.message-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 100%;
}

/* 左側の：ユーザー名＋メッセージ */
.user-latest-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    position: relative;
}

/* ユーザー名（アイコンの上限近く） */
.username {
    font-weight: bold;
    font-size: 14px;
    position: relative;
    top: 20px;
    padding-left: 5px;
}

/* 最新メッセージ（アイコンの中間〜下限に） */
.latest-message {
    font-size: 13px;
    color: #555;
    position: relative;
    padding-left: 5px;
    top: 28px;
}

/* 最終投稿時間 */
.message-latest-time {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    color: #666;
    position: relative;
    top: 1px; /* ← ユーザー名と同じ高さに揃える */
}

.message-section a {
    display: flex;
    align-items: center;
    text-decoration: none; /* 下線を消す */
    color: inherit; /* テキストカラー継承 */
    width: 100%;
    height: 100%;
}

.username p {
    text-align: left;
}