@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

p, a {
    font-family: 'Kanit', sans-serif;

}



.main-section {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    background: linear-gradient(to bottom, 
      rgba(255, 168, 29, 0.3),  /* FFA81D, 透明度30% */
      rgba(255, 216, 29, 0.3)   /* FFD81D, 透明度30% */
    );
    padding-bottom: 100px;

}

.section {
    margin-bottom: 30px;
}

.title {
    height: 100px;
    font-family: 'Kanit', sans-serif;
    color: #FFA81D;
    line-height: 100px;
}

.userid-input, .username-input, .password-input, .residence-select, .favorite-input, .mood-input {
    width: 500px;
    height: 70px;
    font-size: 24px;
    border: 1px solid #6D6D6D;     /* 太めの線と色（#333は濃いグレー） */
    border-radius: 15px;         /* 角を丸くする */
    padding: 10px;               /* テキストとの余白 */
    box-sizing: border-box;   
}

.introduction-input {
    width: 500px;
    height: 400px;
    padding: 10px; 
    border: 1px solid #333;     /* 太めの線と色（#333は濃いグレー） */
    border-radius: 15px;   
    box-sizing: border-box;   
    font-size: 24px;
}

.submit-btn {
    width: 500px;
    height: 70px;
    border-radius: 55px; 
    font-size: 24px; 
    background-color: #FFA81D;
    color: #ffffff;
    border: none;
    cursor: pointer;
    /* margin-bottom: 50px; */
}

.logout {
    margin-top: 50px;
    margin-bottom: 550px;
}

.hidden {
    display: none;
}

.profile-image img {
    width: 120px;
}
