@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

body {
    margin: 0;
    margin-bottom: 500px;
    background: linear-gradient(to bottom, 
      rgba(255, 168, 29, 0.3),  /* FFA81D, 透明度30% */
      rgba(255, 216, 29, 0.3)   /* FFD81D, 透明度30% */
    );
}

.main-section {
    text-align: center;
}

.section {
    margin-bottom: 50px;
}

.title {
    font-family: 'Kanit', sans-serif;
    color: #FFA81D;
}

.userid-input, .username-input, .password-input, .residence-select, .favorite-input, .mood-input {
    width: 670px;
    height: 110px;
    font-size: 24px;
    border: 2px solid #333;     /* 太めの線と色（#333は濃いグレー） */
    border-radius: 15px;         /* 角を丸くする */
    padding: 10px;               /* テキストとの余白 */
    box-sizing: border-box;   
}

.introduction-input {
    width: 670px;
    height: 400px;
    padding: 10px; 
    border: 2px solid #333;     /* 太めの線と色（#333は濃いグレー） */
    border-radius: 15px;   
    box-sizing: border-box;   
    font-size: 24px;
}

.submit-btn {
    width: 670px;
    height: 110px;
    border-radius: 55px; 
    font-size: 24px; 
    background-color: #FFA81D;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.logout {
    margin-top: 100px;
}

.hidden {
    display: none;
}